//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    #home-slider-products{
        .slick-track{
            .slick-slide {
                .product-image-container {
                    min-width: 100%;
                }
                .product-item-photo, .product-item-photo-hover {
                    min-width: 100%;
                    .product-image-photo, .product-image-photo-hover {
                        min-width: 100%;
                    }
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    #home-slider-products{
        .slick-track{
            margin: 0 -15px;
            .slick-slide {
                padding: 0 15px;
            }
        }
    }
    #home-slider-products, .my-tripple-slider {
        .product-item {
            &:hover {
                .product-item-photo {
                    display: none;
                }
                .product-item-photo-hover {
                    display: block;
                }
            }
        }
    }
}
