//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .main-slider-wrap{
        margin-left: ~'-calc(50% - 50vw)';
        margin-right: ~'-calc(50% - 50vw)';
        height: 100vh;
        margin: 0;
        .slick-track, div{
            height: 100%;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

}
